{% extends "bootstrap/base.html" %}


{% block title%}Algebra Club{% endblock %}

{% block styles%}
{{ super() }}
{% include "style-includes.html" %}
<link href="/static/styles/module-header.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}


{% block content%}
<div class="container">
    
    <div class="content">
        <div style="display: flex; flex-direction: row;">
            <a name="home">
              <img src="/static/images/7684 - Math Book I.svg" style="height: 3rem; width: 3rem; margin-top: 1rem;"><h1>Algebra Club</h1></a>
        </div>
        

        <table>
          <thead>
            <tr><th>Week</th><th>Topic</th></tr>
          </thead>
          <tbody>
              <tr><td>1.</td><td><a href="/maths/algebra/simplifying">Simplifying Algebra</a></td></tr>
              <tr><td>2.</td><td><a href="/maths/algebra/solving-linear">Solving Algebra</a></td></tr>
              <tr><td>3.</td><td><a href="/maths/algebra/simplifying-fractional">Simplifying Fractional Expressions</a></td></tr>
              <tr><td>4.</td><td>Solving Fractional Equations</td></tr>
              <tr><td>5.</td><td>Simplifying Indicies</td></tr>
              <tr><td>6.</td><td>Solving Inequalities</td></tr>
              <tr><td>7.</td><td>Factorising</td></tr>
              <tr><td>8.</td><td>Simplifying Advanced Fractional Expressions</td></tr>
              <tr><td>9.</td><td>Solving Advanced Fractional Expressions</td></tr>
              <tr><td>10.</td><td>Simultaneous Equations (Elimination)</td></tr>
              <tr><td>11.</td><td>Simultaneous Equations (Substitution)</td></tr>
              <tr><td>12.</td><td>Changing the Subject</td></tr>
              <tr><td>13.</td><td>Multiplying Brackets</td></tr>
              <tr><td>14.</td><td>Factorising Quadratics (2 terms)</td></tr>
              <tr><td>15.</td><td>Factorising Quadratics (3 terms)</td></tr>



          </tbody>
          
        </table>        
    </div>
</div>
{% endblock %}
