<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Quiz Viewer</h1>
  <select>
    {% for class in classes %}
    <option value="{{class.id}}">{{class.title}}</option>
    {% endfor %}
  </select>
  <div id="messages"></div>


  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();

    function logMsg(msg) {
      console.log(msg)
      element = document.getElementById('messages');
      var pNode = document.createElement('P')
      var textNode = document.createTextNode(msg); 
      pNode.appendChild(textNode)
      element.appendChild(pNode)
    }

    socket.on('click-received', function() {
        logMsg('Click detected')
    });

    socket.on('connect', function () {
      logMsg('Connected')
    })

    socket.on('disconnect', function () {
      logMsg('Disconnected')
    })



    
</script>
</body>
</html>