{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title%}Maths Hints Pages{% endblock %}

{% block styles%}
{{ super() }}
{% include "style-includes.html" %}

<style>

</style>
{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <section>
        <h1>Maths Hints Pages</h1>
        <p>A collection of hints and tips to help with maths.</p>
      </section>
      <div class="index-content">
          <div class="container">
                  <a href="/maths/hints/calculator-hints">
                      <div class="col-lg-4">
                          <div class="card">
                              <p><h2 style="padding: 20px;">Calculator Tips</h2></p>
                              <a href="/maths/hints/calculator-hints" class="blue-button">Read more</a>
                          </div>
                      </div>
                  </a>

                  <a href="/maths/hints/geogebra-hacks">
                    <div class="col-lg-4">
                        <div class="card">
                            <p><h2 style="padding: 20px;">Geogebra Tips</h2></p>
                            <a href="/maths/hints/geogebra-hacks" class="blue-button">Read more</a>
                        </div>
                    </div>
                </a>
                  
                  
      
          </div>
      </div>
      <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSHvm2ztm4PYpnNN2B6e9KDfdbKK6zgpn75SSuygLXaXuzwJwPiQZFZONtZtlF8SlnWaew_oeoMO7Gh/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
  </div>
    
    
{% endblock %}