{% extends "bootstrap/base.html" %}


{% block title%}Maths{% endblock %}

{% block styles%}
{{ super() }}
{% include "style-includes.html" %}
<link href="/static/styles/module-header.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <H1>Maths Materials</H1>

    <h2>Topics</h2>
    <p><a href="/maths/hints/calculator-hints">Calculator Hints</a></p>
    <p><a href="/maths/algebra">Algebra</a></p>
    <p></p><a href="/maths/geometry">Geometry</a></p>

    <h2>Past Papers</h2>

    <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tab46-tab" aria-controls="tab46-tab" role="tab" data-toggle="tab">Level 4-6</a></li>
      <li role="presentation"><a href="#tab57-tab" aria-controls="tab57-tab" role="tab" data-toggle="tab">Level 5-7</a></li>
      <li role="presentation"><a href="#tab68-tab" aria-controls="tab68-tab" role="tab" data-toggle="tab">Level 6-8</a></li>
      <li role="presentation"><a href="#tabiGCSE-tab" aria-controls="tabiGCSE-tab" role="tab" data-toggle="tab">iGCSE</a></li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab46-tab">
          <h3>4-6</h3>
          <div class="igcse-papers-grid">
              <div>2000</div>
              <div>4-6</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/7n6lnjfbhicloi0/46-2000-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/5t38c296krhcg1m/ms-2000-p1.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
          
              <div>2000</div>
              <div>4-6</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/8vdz5xnfrnuzdge/46-2000-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/5t38c296krhcg1m/ms-2000-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
          
              <div>2001</div>
              <div>4-6</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/eg0r5m28a1i5hwq/46-2001-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/5t38c296krhcg1m/ms-2000-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
            
              <div>2001</div>
              <div>4-6</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/dm6v9x91pn3qz17/46-2001-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/5t38c296krhcg1m/ms-2000-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>

              <div>2002</div>
              <div>4-6</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/9zt84ienl48fls6/46-2002-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/5t38c296krhcg1m/ms-2000-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
            
              <div>2002</div>
              <div>4-6</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/lnv8skkc612bhek/46-2002-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/5t38c296krhcg1m/ms-2000-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>

              <div>2003</div>
              <div>4-6</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/iz8uehyao1f6ark/46-2003-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/5t38c296krhcg1m/ms-2000-p2.pdf?dl=">Mark Scheme</a></div>
              <div></div>
            
              <div>2003</div>
              <div>4-6</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/6bmao8a45z9irti/46-2003-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/02izv0nk2yhcxjf/ms-2003-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>


              <div>2004</div>
              <div>4-6</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/3f9pwzmzifkie17/46-2004-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/bm982bha7xbabxm/ms-2004-p1.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
            
              <div>2004</div>
              <div>4-6</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/1xmajv0bd2w7ec6/46-2004-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/bp8t7w2vnqo8ijk/ms-2004-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>

              <div>2005</div>
              <div>4-6</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/ghm7gw91bwms4fw/46-2005-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/z309vtopysn0847/ms-2005-p1.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
            
              <div>2005</div>
              <div>4-6</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/o6uy7bvpo0rxwgd/46-2005-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/253nee3jgcb9ot1/ms-2005-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
          
          </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab57-tab">
          <h3>5-7</h3>
          <div class="igcse-papers-grid">
              <div>2000</div>
              <div>5-7</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/65e8pacq6m5ok71/57-2000-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/2wkpqs20isnmypj/ms-2000-p1.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
          
              <div>2000</div>
              <div>5-7</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/241ls1w0i4ri8kl/57-2000-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/5t38c296krhcg1m/ms-2000-p2.pdf?dl=0">Mark Scheme</a></div>
              <div><a target="_new" href="">Solutions</a></div>
          
              <div>2001</div>
              <div>5-7</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/seqmiihyi6qvy7z/57-2001-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/n38eyi7zxkrqlmu/ms-2001-p1.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
            
              <div>2001</div>
              <div>5-7</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/xl4zyj88xswj1cn/57-2001-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/7uqcj5twgma65uy/ms-2001-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>

              <div>2002</div>
              <div>5-7</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/sxzmvsdk0kp2sj0/57-2002-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/n6s3eexa9m65u4r/ms-2002-p1.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
            
              <div>2002</div>
              <div>5-7</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/3x92cv9twesmjws/57-2002-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/qdbks63gnvxam9l/ms-2002-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>

              <div>2003</div>
              <div>5-7</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/785m9vq5h1h2bjt/57-2003-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/ielayg8o1gvedmi/ms-2003-p1.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
            
              <div>2003</div>
              <div>5-7</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/1ilo0m8ln0vhxqv/57-2003-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/02izv0nk2yhcxjf/ms-2003-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>


              <div>2004</div>
              <div>5-7</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/qk7atf1njxdtw23/57-2004-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/bm982bha7xbabxm/ms-2004-p1.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
            
              <div>2004</div>
              <div>5-7</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/u5jn9igf46f52xn/57-2004-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/bp8t7w2vnqo8ijk/ms-2004-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>

              <div>2005</div>
              <div>5-7</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/ijik2lknsztg3rt/57-2005-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/z309vtopysn0847/ms-2005-p1.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
            
              <div>2005</div>
              <div>5-7</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/nswpjss3fag3bje/57-2005-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/253nee3jgcb9ot1/ms-2005-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
          </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab68-tab">
          <h3>6-8</h3>
          <div class="igcse-papers-grid">
              <div>2000</div>
              <div>6-8</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/ndmrtuj4n6580xs/68-2000-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/2wkpqs20isnmypj/ms-2000-p1.pdf?dl=0">Mark Scheme</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/45ogx9kj4030xa1/68-2000-p1%20Solutions.pdf?dl=0">Solutions</a></div>
          
              <div>2000</div>
              <div>6-8</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/ul0j0uzixgr2gzq/68-2000-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/5t38c296krhcg1m/ms-2000-p2.pdf?dl=0">Mark Scheme</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/51bgxah0xb63sij/68-2000-p2%20Solutions.pdf?dl=0">Solutions</a></div>
          
              <div>2001</div>
              <div>6-8</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/tx7fmh727fgh2jy/68-2001-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/n38eyi7zxkrqlmu/ms-2001-p1.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
            
              <div>2001</div>
              <div>6-8</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/avilx593x5zrdl9/68-2001-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/7uqcj5twgma65uy/ms-2001-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>

              <div>2002</div>
              <div>6-8</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/t8romqnz3yb7lx8/68-2002-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/n6s3eexa9m65u4r/ms-2002-p1.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
            
              <div>2002</div>
              <div>6-8</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/kwxth2cr8ao2d6f/68-2002-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/qdbks63gnvxam9l/ms-2002-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>

              <div>2003</div>
              <div>6-8</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/wgpbv3x4okdsovp/68-2003-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/ielayg8o1gvedmi/ms-2003-p1.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
            
              <div>2003</div>
              <div>6-8</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/uba4vf5ulks3q03/68-2003-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/02izv0nk2yhcxjf/ms-2003-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>


              <div>2004</div>
              <div>6-8</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/ksuftzoygiy0lkq/68-2004-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/bm982bha7xbabxm/ms-2004-p1.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
            
              <div>2004</div>
              <div>6-8</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/x803q4h99qtrc66/68-2004-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/bp8t7w2vnqo8ijk/ms-2004-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>

              <div>2005</div>
              <div>6-8</div>
              <div>Paper 1
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/nrh2xtxif61ft5i/68-2005-p1.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/z309vtopysn0847/ms-2005-p1.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
            
              <div>2005</div>
              <div>6-8</div>
              <div>Paper 2
              </div>
              <div><a target="_new" href="https://www.dropbox.com/s/f0u110uew4x8akn/68-2005-p2.pdf?dl=0">Questions</a></div>
              <div><a target="_new" href="https://www.dropbox.com/s/253nee3jgcb9ot1/ms-2005-p2.pdf?dl=0">Mark Scheme</a></div>
              <div></div>

            
            
          </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tabiGCSE-tab">
          <h3>iGCSE</h3>
          <div class="igcse-papers-grid">
      
              <div>Specimen Paper</div>
              <div></div>
              <div>Paper 1</div>
              <div><a href="https://www.dropbox.com/s/3u7dkrqvet703dd/4MA1%201H%20Specimen%20Papers%20-%20Question%20Paper.pdf?dl=0">Questions</a></div>
              <div><a href="https://www.dropbox.com/s/wsumsx6liko3ep2/4MA1%201H%20Specimen%20Papers%20-%20Mark%20Scheme.pdf?dl=0">Mark Scheme</a></div>
              <div><a href="https://www.dropbox.com/s/s3mfrg4hoyzaxg6/4MA1%201H%20Specimen%20Papers%20-%20Question%20Paper%20solutions.pdf?dl=0">Solutions</a></div>
            
              <div>Specimen Paper</div>
              <div></div>
              <div>Paper 2</div>
              <div><a href="https://www.dropbox.com/s/j1v2iktuows77bf/4MA1%202H%20Specimen%20Papers%20-%20Question%20Paper.pdf?dl=0">Questions</a></div>
              <div><a href="https://www.dropbox.com/s/m8v66rlqpq822uy/4MA1%202H%20Specimen%20Papers%20-%20Mark%20Scheme.pdf?dl=0">Mark Scheme</a></div>
              <div><a href="https://www.dropbox.com/s/v3buambv2qy3a5m/4MA1%202H%20Specimen%20Papers%20-%20Question%20Paper%20Solutions.pdf?dl=0">Solutions</a></div>
              
            
              <div>2019</div>
              <div>Resit</div>
              <div>Paper 1H</div>
              <div><a href="https://www.dropbox.com/s/jkils9z3xr2xw24/4MA1_1H_que_20190110.pdf?dl=0">Questions</a></div>
              <div><a href="https://www.dropbox.com/s/w8fwbrumx7r1sko/4MA1_1H_msc_2019307.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
              
              <div>2019</div>
              <div>Resit</div>
              <div>Paper 1HR</div>
              <div><a href="https://www.dropbox.com/s/hl843mx7m5aa4rg/4MA1_1HR_que_20190110.pdf?dl=0">Questions</a></div>
              <div><a href="https://www.dropbox.com/s/93l9pbuuo73dlrt/4MA1_1HR_msc_20190307.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
            
              <div>2019</div>
              <div>Resit</div>
              <div>Paper 2H</div>
              <div><a href="https://www.dropbox.com/s/b9cw0n7yxa9r0th/4MA1_2H_que_20190116.pdf?dl=0">Questions</a></div>
              <div><a href="https://www.dropbox.com/s/w0w39m2ufb80jdc/4MA1_2H_msc_20190307.pdf?dl=0">Mark Scheme</a></div>
              <div><a href="https://www.dropbox.com/s/5g9ie0h6qqk6dwj/4MA1_2H_que_20190116%20Solutions.pdf?dl=0">Solutions</a></div>
              
              <div>2019</div>
              <div>Resit</div>
              <div>Paper 2HR</div>
              <div><a href="https://www.dropbox.com/s/vs82clioyjk2aou/4MA1_2HR_que_20190116.pdf?dl=0">Questions</a></div>
              <div><a href="https://www.dropbox.com/s/lh7p6098fyeeful/4MA1_2HR_msc_20190307.pdf?dl=0">Mark Scheme</a></div>
              <div></div>
              
            
              <div>2018</div>
              <div>Summer</div>
              <div>Paper 1H</div>
              <div><a href="https://www.dropbox.com/s/tya9sc7f1ij8t4k/4MA1_1H_que_20180525.pdf?dl=0">Questions</a></div>
              <div><a href="https://www.dropbox.com/s/5bgrktz4egxcio8/4MA1_1H_rms_20180822.pdf?dl=0">Mark Scheme</a></div>
              <div><a href="https://www.dropbox.com/s/bs0kmssdmd9uf38/4MA1_1H_que_20180525%20Solutions.pdf?dl=0">Solutions</a></div>
              
              <div>2018</div>
              <div>Summer</div>
              <div>Paper 1HR</div>
              <div><a href="https://www.dropbox.com/s/vi93a6lobkui9xq/4MA1_1HR_que_20180525.pdf?dl=0">Questions</a></div>
              <div><a href="https://www.dropbox.com/s/uofzuprxgsctkb0/4MA1_1HR_rms_20180822.pdf?dl=0">Mark Scheme</a></div>
              <div><a href="https://www.dropbox.com/s/7ang86tvl5igg9y/4MA1_1HR_que_20180525%20solutions.pdf?dl=0">Solutions</a></div>
              
            
              <div>2018</div>
              <div>Summer</div>
              <div>Paper 2H</div>
              <div><a href="https://www.dropbox.com/s/4wq3n3ezy32z7io/4MA1_2H_que_20180608.pdf?dl=0">Questions</a></div>
              <div><a href="https://www.dropbox.com/s/234jb7yluu24xm0/4MA1_2H_rms_20180822.pdf?dl=0">Mark Scheme</a></div>
              <div><a href="https://www.dropbox.com/s/qbo2u5d8rrg80hp/4MA1_2H_que_20180608-Solutions.pdf?dl=0">Solutions</a></div>
              
              <div>2018</div>
              <div>Summer</div>
              <div>Paper 2HR</div>
              <div><a href="https://www.dropbox.com/s/zag3p66j2wsckqz/4MA1_2HR_que_20180608.pdf?dl=0">Questions</a></div>
              <div><a href="https://www.dropbox.com/s/yg9pqr5eola1h4q/4MA1_2HR_rms_20180822.pdf?dl=0">Mark Scheme</a></div>
              <div><a href="https://www.dropbox.com/s/c46ufwpw09wrp57/4MA1_2HR_que_20180608%20Solutions.pdf?dl=0">Solutions</a></div>
              
          </div> 
      </div>
    </div>

    
</div>
{% endblock %}