{% extends "layout-slide.html" %}

{% block title%}Simplifying Algebra{% endblock %}

{% block style%}
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<style>

  .remember {
    border: solid 2px #f50642;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
  }
</style>
{% endblock %}
{% block body%}
<div class="container">
    <div class="sidebar">
      <a class="active" href="#home">Home</a>
  
      <a href="#sums">Simplifying Algebraic Sums</a>
      <a href="#products">Simplifying Algebraic Products</a>
      <a href="#brackets">Simplifying Algebraic Brackets</href>
      
      
    </div>
    <div class="content">
        <a name="home"><h1>Simplifying Algebra.</h1></a>

        <section>


            <a name="sums"><h2>Simplifying Algebraic Sums</h2></a>
            <div>
              <p>LO:</p>
              <p>After watching this video, you should be able to simplify:</p>
              <p>\(4x^2 -5x + 4 + 3x^2 -10x + 5 \)</p>
            </div>
           
              
              <iframe width="560" height="315" 
                  src="https://www.youtube.com/embed/y7GwRJOIohM" 
                  frameborder="0" 
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                  allowfullscreen></iframe>
              <ul>
                  <li><b>Key Vocabulary:</b> descriptions for the expression, term, coefficient, variable and exponent. (0:05)</li>
                  <li><b>Like Terms:</b> any terms that contain the same variable and exponent. (4: 47)</li>
                  <li><b>Simplifying:</b> terms that contain the same variables and plus and minus. (8: 06)</li>
                </ul>
            

          <a name="checkquestions"><h3>Check Questions</h3></a>
          <p>Would you describe \(3x^2 + 2x = 5\) as an expression or equation?🔥</p>
          <p>From the above question:🔥</p>
          <p>
            <ul>
              <li>Identify the terms.</li>
              <li>Identify the variable. </li>
              <li>Identify the coefficients.</li>
              <li>Identify the exponents of the terms.</li>
            </ul>
          </p>
          
          <p>Simplify the following expressions:🔥🔥</p>
          <div style="display: grid; grid-template-columns: 1fr 1fr;">
            
            <p>\( x + 4 + 3x + 2\)</p>
            <p>\( -4x^2 + 4 + 3 + 2x^2\)</p>
            <p>\( 3x^2 + 6x -10x -6x^2 + 3 + 5\)</p>
            <p>\( -4x^2 + 4x^2 + 3y - 3y\)</p>
        
          </div>

          <p>Simplify the following expressions: 🔥🔥🔥</p>
          <div>
            
              <p>\( 3ax^2 + 3a^2x + 3a + 3x + ax^2 -3x^1\)</p>
              <p>\( 0.5x^2 + 0.5x^2 + x^2 - 0.252x^2\)</p>
            </div>
        </section>
        <section>
            <a name="products"><h2>Simplifying Algebraic Products</h2></a>
            <div>
                <p>LO:</p>
                <p>After watching this video, you should be able to simplify:</p>
                <p>\(3y \times y \times 3y^2 \)</p>
            </div>
            <div class="remember">
              <p>Remember:</p>
              <p>\(3xy \space means \space 3\times x \times y \)</p>
              <p>\(x^2 \times x \space means \space x \times x \times x = x^3 \)</p>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_hM-yjpBWPI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <a name="checkquestions"><h3>Check Questions</h3></a>
            <p>Simplify the following expressions: 🔥🔥</p>
            <p>\(2 \times x \times x\)</p>
            <p>\(6 \times y \times x\)</p>
            <p>\(-3 \times x \times y\)</p>
            <p>\(-4 \times -4 \times x\)</p>
            <p>\(3x \times 6x \times 3x\)</p>
        </section>
        <section>
          <a name="brackets"><h2>Simplify Brackets</h2></a>
          <div>
              <p>LO:</p>
              <p>After watching this video, you should be able to simplify the following expression:</p>
              <p>\(3 (x + 5) \)</p>
          </div>
          <div class="remember">
            <p>Remember:</p>
            <p>\( 5 (3x + 2) = (5 \times 3x) + (5 \times 2) = 15x + 10\)</p>
          </div>

          <div class="remember">
              <p>Remember:</p>
              <p>After expanding the brackets, we must always simplify if possible.</p>
            </div>

          <iframe width="560" height="315" src="https://www.youtube.com/embed/9VL7X-hxpPo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <a name="checkquestions"><h3>Check Questions</h3></a>
          <p>Expand and simplify the following expressions🔥</p>
          <p>6(q + 4x)</p>
          <p>6(q - 4x)</p>
          <p>-6(q + 4x)</p>
          <p>-6(q - 4x)</p>
          <p>Expand and simplify the following expressions🔥</p>
          <p>2x + 5(q + 4x)</p>
          <p>5(q - 4) - 5</p>
          <p>1.1 (a+3)</p>
          <p>Expand and simplify the following expressions🔥🔥</p>
          <p>\(2x + 5(3y + 6x)\)</p>
          <p>\(\frac{1}{2}(2q - 4) - 5\)</p>
          <p>\(1.1 (a+3)\)</p>
          <p>\(\frac{2}{3} (9a+3) + \frac{1}{3}(3a -6)\)</p>
        </section>
        <section>
          <a name="testpaper"><H2>Maths Genie: Simplifying Algebra</h2></a>
          <p>Complete the following questions in your extension book.</p>
          <p><a href="https://www.mathsgenie.co.uk/resources/57_collecting-like-terms.pdf">Simplifying Algebra</a></p>
        </section>
    </div>
</div>

  
{% endblock %}
