{% extends "layout.html" %}
{% block title %}www.mrsalih.com{% endblock %}

{% block style %}

<link href="/static/styles/past-papers.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
<h1>Past Papers</h1>
<div>
  <p>Below you will find a collection of iGCSE past papers, mark schemes and solutions.</p>
  <p>Please report any issues to <a href="mailto:leroysalih@gmail.com">Leroy.Salih@gmail.com</a></p>

</div>
<div class="display-papers ">
  <div>4MA1 1H Specimen Paper</div>
  <div><a href="https://www.dropbox.com/s/3u7dkrqvet703dd/4MA1%201H%20Specimen%20Papers%20-%20Question%20Paper.pdf?dl=0">Questions</a></div>
  <div><a href="https://www.dropbox.com/s/wsumsx6liko3ep2/4MA1%201H%20Specimen%20Papers%20-%20Mark%20Scheme.pdf?dl=0">Mark Scheme</a></div>
  <div><a href="https://www.dropbox.com/s/s3mfrg4hoyzaxg6/4MA1%201H%20Specimen%20Papers%20-%20Question%20Paper%20solutions.pdf?dl=0">Solutions</a></div>

  <div>4MA1 2H Specimen Paper</div>
  <div><a href="https://www.dropbox.com/s/j1v2iktuows77bf/4MA1%202H%20Specimen%20Papers%20-%20Question%20Paper.pdf?dl=0">Questions</a></div>
  <div><a href="https://www.dropbox.com/s/m8v66rlqpq822uy/4MA1%202H%20Specimen%20Papers%20-%20Mark%20Scheme.pdf?dl=0">Mark Scheme</a></div>
  <div><a href="https://www.dropbox.com/s/v3buambv2qy3a5m/4MA1%202H%20Specimen%20Papers%20-%20Question%20Paper%20Solutions.pdf?dl=0">Solutions</a></div>
  

  <div>4MA1 1H 2019 Jan</div>
  <div><a href="https://www.dropbox.com/s/jkils9z3xr2xw24/4MA1_1H_que_20190110.pdf?dl=0">Questions</a></div>
  <div><a href="https://www.dropbox.com/s/w8fwbrumx7r1sko/4MA1_1H_msc_2019307.pdf?dl=0">Mark Scheme</a></div>
  <div><a >Solutions</a></div>
  
  <div>4MA1 1HR 2019 Jan</div>
  <div><a href="https://www.dropbox.com/s/hl843mx7m5aa4rg/4MA1_1HR_que_20190110.pdf?dl=0">Questions</a></div>
  <div><a href="https://www.dropbox.com/s/93l9pbuuo73dlrt/4MA1_1HR_msc_20190307.pdf?dl=0">Mark Scheme</a></div>
  <div><a >Solutions</a></div>

  <div>4MA1 2H 2019 Jan</div>
  <div><a href="https://www.dropbox.com/s/b9cw0n7yxa9r0th/4MA1_2H_que_20190116.pdf?dl=0">Questions</a></div>
  <div><a href="https://www.dropbox.com/s/w0w39m2ufb80jdc/4MA1_2H_msc_20190307.pdf?dl=0">Mark Scheme</a></div>
  <div><a >Solutions</a></div>
  
  <div>4MA1 2HR 2019 Jan</div>
  <div><a href="https://www.dropbox.com/s/vs82clioyjk2aou/4MA1_2HR_que_20190116.pdf?dl=0">Questions</a></div>
  <div><a href="https://www.dropbox.com/s/lh7p6098fyeeful/4MA1_2HR_msc_20190307.pdf?dl=0">Mark Scheme</a></div>
  <div><a >Solutions</a></div>
  

  <div>4MA1 1H 2018 Summer</div>
  <div><a href="https://www.dropbox.com/s/tya9sc7f1ij8t4k/4MA1_1H_que_20180525.pdf?dl=0">Questions</a></div>
  <div><a href="https://www.dropbox.com/s/5bgrktz4egxcio8/4MA1_1H_rms_20180822.pdf?dl=0">Mark Scheme</a></div>
  <div><a href="https://www.dropbox.com/s/bs0kmssdmd9uf38/4MA1_1H_que_20180525%20Solutions.pdf?dl=0">Solutions</a></div>
  
  <div>4MA1 1HR 2018 Summer</div>
  <div><a href="https://www.dropbox.com/s/vi93a6lobkui9xq/4MA1_1HR_que_20180525.pdf?dl=0">Questions</a></div>
  <div><a href="https://www.dropbox.com/s/uofzuprxgsctkb0/4MA1_1HR_rms_20180822.pdf?dl=0">Mark Scheme</a></div>
  <div><a href="https://www.dropbox.com/s/7ang86tvl5igg9y/4MA1_1HR_que_20180525%20solutions.pdf?dl=0">Solutions</a></div>
  

  <div>4MA1 2H 2018 Summer</div>
  <div><a href="https://www.dropbox.com/s/4wq3n3ezy32z7io/4MA1_2H_que_20180608.pdf?dl=0">Questions</a></div>
  <div><a href="https://www.dropbox.com/s/234jb7yluu24xm0/4MA1_2H_rms_20180822.pdf?dl=0">Mark Scheme</a></div>
  <div><a href="https://www.dropbox.com/s/qbo2u5d8rrg80hp/4MA1_2H_que_20180608-Solutions.pdf?dl=0">Solutions</a></div>
  
  <div>4MA1 2HR 2018 Summer</div>
  <div><a href="https://www.dropbox.com/s/zag3p66j2wsckqz/4MA1_2HR_que_20180608.pdf?dl=0">Questions</a></div>
  <div><a href="https://www.dropbox.com/s/yg9pqr5eola1h4q/4MA1_2HR_rms_20180822.pdf?dl=0">Mark Scheme</a></div>
  <div><a href="https://www.dropbox.com/s/c46ufwpw09wrp57/4MA1_2HR_que_20180608%20Solutions.pdf?dl=0">Solutions</a></div>
  

</div>
</div>
{% endblock %}