{% macro hello(name) %}
<h1>Hello {{name}}</h1>
{% endmacro %}




{% macro LO(lo) %}
  
  <h2>{{lo.title}}</h2>
  <div class="sc">{{lo.developing}}</div>
  <div class="sc ">{{lo.satisfactory}}</div>
  <div class="sc ">{{lo.exceeding}}</div>
  
{% endmacro %}

{% macro LOGroup( loGroup, index ) %}
<div class="grid-logroup">
  <h1>
    <a name="log{{index}}"></a>
    {{loGroup[0][0]}}
  </h1>
  <div class="developing">Developing</div>
  <div class="satisfactory">Satisfactory</div>
  <div class="exceeding">Exceeding</div>

  {% for lo in loGroup[1] %}
    {{LO(lo) }}
  {% endfor %}
</div>
{% endmacro %}



{% macro Lesson(lesson, lessons) %}

<div class="grid_lesson">
  <div class="grid_title_row">
    
    <h1>
        <a name="{{lesson.number}}"></a>
      {{lesson.title}}
    </h1>
    <h1>{{lesson.number}} of {{lessons | length}}</h1>
    

  </div>
  <div class="grid_lesson_details">
      <h1>Description</h1>
      <h1>LOs</h1>
      <div>{{lesson.description}}</div>
      <div>
        <ul>
        {% for lo in lesson.learning_objectives.values() %}
        <li>{{ lo.title}}</li>
        {% endfor %}
      </ul>
      </div>
      <h1>HW Set</h1>
      <h1>Resources</h1>
      <div>{{lesson.hw_set}}</div>
      
      <div>Links</div>
      
  </div>
  <div class="grid_lesson_footer">
      
  </div>
  

</div>

{% endmacro %}