{% extends "layout-topic.html" %}
{% block title%}{{module.title}}{% endblock %}

{% from "/modules/module-macro.html" import LOGroup,  Lesson, Lesson2 %}

{% block styles%}
{{ super() }}

{% include "style-includes.html" %}

<style>

.page-heading {
  font-size: 5.5rem;
}
.description {
  background-color: #f7f5f5;
  padding: 15px;
  border: solid 1px silver;
}

.curriculum-link {
  color: silver;
}

.curriculum-link:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.lo {
  background-color:white;
  padding: 15px;
}


.module-los {
  border: solid 2px silver;
  margin: 15px;
  padding: 10px;
  border-radius: 15px;
}

.grid-logroup {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

.grid-logroup h1 {
    /* color: red; */
    background-color: #b1f7ed;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2rem;
}

.grid-logroup h2 {
  font-family: 'Open Sans';
  font-size: 1.5rem;
}


.sc {
  padding: 5px;
  font-family: 'Open Sans';
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.exceeding {
  background-color: #f9fab9
}

.satisfactory {
  background-color: #e4f1f5 
}

.developing {
  background-color: #fdcc94 
}

.sc.pupil-selected {
  background-color: yellow;
}

.sc.teacher-selected {
  border: solid green 3px;
}

.grid_title_row {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: rgb(177, 247, 237);
}

.grid_title_row h1 {
    color: black;
    font-size: 2.5rem;
    padding-left: 15px;
    padding-right: 15px;
}

.grid_lesson {
    border: solid silver 2px;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.grid_lesson_details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_lesson_details h1 {
  color:rgb(130, 130, 130);
  font-size: 2rem;
}

.grid_lesson_footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid_lesson_footer h1 {
  color:rgb(130, 130, 130);
  font-size: 2rem;
}

</style>
{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block back_to %}
<li><a href="/modules">Modules </a></li>
{% endblock %}

{% block inpage_links %}
<p><a href="#home">Home</a></p>
<p><a href="#module-los">Module LO's</a></p>
{% for log in loGroups %}
  <p>&nbsp;&nbsp;<a href="#log{{loop.index}}">{{log[0][0]}}</a></p>
{% endfor %}

<p><a href="#lessons">Lessons</a></p>
{% for lesson in module.lessons.values() %}
<p>&nbsp;&nbsp;<a href="#{{lesson.number}}">{{lesson.title}}</a></p>
{% endfor %}

{% endblock %}

{% block main_page %}
<a name="home"></a>
<h1 class="page-heading">{{module.title}}</h1>
<div class="description">
{{module.description}}
</div>



<section>
  <a name="module-los"></a>
  <h1>Module Learning Objectives</h1>
    <div class="module-los">
    

    {% for log in loGroups %}
      {{ LOGroup(log, loop.index)}}
    {% endfor %}
    </div>
  

  <!--<p class="curriculum-link">Curriculum Link</p>-->
  
</section>



<section>

  <a name="lessons"></a>
  <h1>Lessons</h1>

  {% for lesson in module.lessons.values() %}
  {{ Lesson(module, lesson,  module.lessons.values())  }}
  {% endfor %}

</section>

{% endblock %}