
  {% extends "layout.html" %}
  {% block title %}www.mrsalih.com{% endblock %}

  {% block style %}
  
  <link href="/static/styles/index.css" rel="stylesheet">
  {% endblock %}
  
  {% block body %}
  
  <section class="content">
      <section class="landing-heading">
          <h1 >www.mrsalih.com</h1>
          <h2 >Maths and Computing materials for KS3 and KS4.</h2>
          <div>
                <table style="font-family: 'Open Sans Condensed', sans-serif; width: 100%; margin-top: 30px;">
                    <tr>
                        <td style="border-bottom: solid 1px silver;">Year 7</td>
                        <td style="border-bottom: solid 1px silver;">Year 8</td>
                        <td style="border-bottom: solid 1px silver;">Year 10</td>
                    </tr>
                    <tr style="vertical-align: top;">
                          <td>
                              <p><a href="/computing/p5-intro">Introduction to Programming with p5</a></p>
                              <p><a href="/computing/sketchup-intro">Modelling with SketchUp</a></p>
                            </td>
                          <td><p><a href="/computing/web-design">Web Design with Figma</a></p></td>
                          <td>
                            <p><a href="/computing/python-intro">Intro to Python</a></p>
                            <p><a href="/computing/algorithms">Algorithms</a></p>
    
                            <p><a href="/computing/web-server">Web Servers</a></p>
                          </td>
                      </tr>
                </table>
            </div>
      </section>
      
  </section>
  {% endblock %}



  
