{% extends "layout.html" %}

{% block style %}
  <link href="/static/styles/module-header.css" rel="stylesheet">
  <style>
    .module-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .module {
      margin: 15px;
      padding: 5px;
      border: silver 1px solid;
      max-width: max(300, min-content);
    }

  </style>
{% endblock %}

{% block body%}
<div class="container">
    <H1>Computing Materials</H1>
    <h3>Modules</h3>
    <div class="module-container">
      <div class="module">
        <h4>Modelling</h4>
        <a href="/computing/models/modelling-with-sketchup">Modelling with SketchUp</a>
      </div>

      <div class="module">
          <h4>Web</h4>
          <div><a href="/computing/web/internet-www">Internet and the WWW</a></div>
          <div><a href="/computing/web/web-design">Web Design with Figma</a></div>
          <div><a href="/computing/web/intro-html-css-js">Intro to HTML, CSS and JS</a></div>
          <div><a href="/computing/web/web-server">Web Servers</a></div>
        </div>
    </div>

    
    
    <!--     
      
    <h2>Past Papers</h2>
    <h3>EdExcel iGCSE Computer Science Papers</h3>
    <p>{note: This is not the current CS course}</p>

    <div class="igcse-papers-grid">

      <div>Specimen Papers</div>
      <div></div>
      <div>1H</div>
      <div><a target="_new" href="https://www.dropbox.com/s/3u7dkrqvet703dd/4MA1%201H%20Specimen%20Papers%20-%20Question%20Paper.pdf?dl=0">Questions</a></div>
      <div><a target="_new" href="https://www.dropbox.com/s/wsumsx6liko3ep2/4MA1%201H%20Specimen%20Papers%20-%20Mark%20Scheme.pdf?dl=0">Mark Scheme</a></div>
      <div><a target="_new" href="https://www.dropbox.com/s/s3mfrg4hoyzaxg6/4MA1%201H%20Specimen%20Papers%20-%20Question%20Paper%20solutions.pdf?dl=0">Solutions</a></div>
      
      <div>Specimen Papers</div>
      <div></div>
      <div>2H</div>
      <div><a target="_new" href="https://www.dropbox.com/s/j1v2iktuows77bf/4MA1%202H%20Specimen%20Papers%20-%20Question%20Paper.pdf?dl=0">Questions</a></div>
      <div><a target="_new" href="https://www.dropbox.com/s/m8v66rlqpq822uy/4MA1%202H%20Specimen%20Papers%20-%20Mark%20Scheme.pdf?dl=0">Mark Scheme</a></div>
      <div><a target="_new" href="https://www.dropbox.com/s/v3buambv2qy3a5m/4MA1%202H%20Specimen%20Papers%20-%20Question%20Paper%20Solutions.pdf?dl=0">Solutions</a></div>
      
       
        
      <div>2018</div>
      <div>Summer</div>
      <div>1H</div>
      <div><a target="_new" href="https://www.dropbox.com/s/tya9sc7f1ij8t4k/4MA1_1H_que_20180525.pdf?dl=0">Questions</a></div>
      <div><a target="_new" href="https://www.dropbox.com/s/5bgrktz4egxcio8/4MA1_1H_rms_20180822.pdf?dl=0">Mark Scheme</a></div>
      <div><a target="_new" href="https://www.dropbox.com/s/bs0kmssdmd9uf38/4MA1_1H_que_20180525%20Solutions.pdf?dl=0">Solutions</a></div>
    
        
      <div>2018</div>
      <div>Summer</div>
      <div>2H</div>
      <div><a target="_new" href="https://www.dropbox.com/s/4wq3n3ezy32z7io/4MA1_2H_que_20180608.pdf?dl=0">Questions</a></div>
      <div><a target="_new" href="https://www.dropbox.com/s/234jb7yluu24xm0/4MA1_2H_rms_20180822.pdf?dl=0">Mark Scheme</a></div>
      <div><a target="_new" href="https://www.dropbox.com/s/qbo2u5d8rrg80hp/4MA1_2H_que_20180608-Solutions.pdf?dl=0">Solutions</a></div>
      
      <div>2018</div>
      <div>Summer</div>
      <div>2HR</div>
      <div><a target="_new" href="https://www.dropbox.com/s/zag3p66j2wsckqz/4MA1_2HR_que_20180608.pdf?dl=0">Questions</a></div>
      <div><a target="_new" href="https://www.dropbox.com/s/yg9pqr5eola1h4q/4MA1_2HR_rms_20180822.pdf?dl=0">Mark Scheme</a></div>
      <div><a target="_new" href="https://www.dropbox.com/s/c46ufwpw09wrp57/4MA1_2HR_que_20180608%20Solutions.pdf?dl=0">Solutions</a></div>



    </div>
  -->
</div>
{% endblock %}