<h1>Todo Ideas:</h1>

<h2>Maths</h2>
Add geogebra worksheets
Algebra python challenges for G&T 

<h2>Computing</h2>
<ul>
  <li>Computer Competitions (https://teachinglondoncomputing.org/, https://community.computingatschool.org.uk/resources/43/single)</li>
  <li>Huffman Questions Page</li>
  <li>Sound File Questions Page</li>
  <li>Data Conversion Page </li>
  <li>Periodic Table of CS < href="https://teachallaboutit.school/periodic-table-of-computer-science/?fbclid=IwAR3Q44Vi3MQWhuiY7QJbDrd7QddmAjb_0emkGMHP2yE8AfXbJzYSq4vhSTY">Here</href></li>

</ul>

<ul>
  <li><a href="https://www.youtube.com/watch?v=KG2M4ttzBnY">Punch Cards</a></li>
  <li><a href="https://www.youtube.com/watch?v=JafQYA7vV6s">5 bit tapes</a>
</ul>
<h2>General</h2>
<ul>
  <li>Philosophy of Teaching:
    <ul>
      <li>Blended Classrooms</li>
      <li>Main role: direction, further explanation and feedback</li>
      <li>From Sage on the Stage to Guide on the Side</li>
    </ul>
  </li>

</ul>

