<h1>Todo Ideas:</h1>
<h2>Philosophy</h2>
<ul>
  <li>Treating the NC as a target is sellign the children short.  We should set the NC as a minimum, and then show that we teach beyond it.</li>
</ul>
<h2>Maths</h2>
<li>Add geogebra worksheets</li>
<li>Algebra python challenges for G&T </li>
<li>Dice rolling game: "How many dice do you need to roll to get a target?" <a href="https://repl.it/@mrsalih/DiceRoll">repl here</a></a></li>

<h2>Computing</h2>
<ul>
  <li>Computer Competitions (https://teachinglondoncomputing.org/, https://community.computingatschool.org.uk/resources/43/single)</li>
  <li>Huffman Questions Page</li>
  <li>Sound File Questions Page</li>
  <li>Data Conversion Page </li>

  <li>Periodic Table of CS < href="https://teachallaboutit.school/periodic-table-of-computer-science/?fbclid=IwAR3Q44Vi3MQWhuiY7QJbDrd7QddmAjb_0emkGMHP2yE8AfXbJzYSq4vhSTY">Here</href></li>

</ul>
<h2>Drama Tie ins</h2>
<ul>
  <li>Generate a backdrop to a video scene</li>
  <li>Shakespeare insult creator</li>
</ul>

<ul>
  <li><a href="https://www.youtube.com/watch?v=KG2M4ttzBnY">Punch Cards</a></li>
  <li><a href="https://www.youtube.com/watch?v=JafQYA7vV6s">5 bit tapes</a>
</ul>
<h2>General</h2>
<ul>
  <li>Using OfficeOnline as a classroom blog / diary. Each form time, pupils will set up their goals, review how they did, and say what they are going to do differently.</li>
</ul>
<ul>
  <li>Philosophy of Teaching:
    <ul>
      <li>Blended Classrooms</li>
      <li>Main role: direction, further explanation and feedback</li>
      <li>From Sage on the Stage to Guide on the Side</li>

      <li>Explanation of Blooms Taxonomy Terms</li>
    </ul>
  </li>

</ul>

