{% extends "layout-slide.html" %}

{% block title%}Trigonometry{% endblock %}

{% block style%}
<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.css" integrity="sha384-dbVIfZGuN1Yq7/1Ocstc1lUEm+AT+/rCkibIcC/OmWo5f0EA48Vf8CytHzGrSwbQ" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.js" integrity="sha384-2BKqo+exmr9su6dir+qCw08N2ZKRucY4PrGQPPWU1A7FtlCGjmEGFqXCv5nyM5Ij" crossorigin="anonymous"></script>
<style>

  .remember {
    border: solid 2px #f50642;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .correct {
    color: green;
    font-size: 2em;
  }

  .incorrect {
    color: red;
    font-size: 2em;
  }



</style>
<script src="/static/js/q-a.js"></script>

{% endblock %}
{% block body%}
<div class="container">
    <div class="sidebar">
      <a class="active" href="#home">Home</a>
  
      <a href="#sums">Trigonometric Ratios</a>
      <a href="#testpaper">Practice Questions</a>

      
      
    </div>
    <div class="content">
        <a name="home"><h1>Trigonometric Ratios.</h1></a>

        <section>
            <a name="sums"><h2>SOHCAHTOA</h2></a>
            <div style="margin-bottom: 30px;">
              <p>LO:</p>
              <p>After watching this video, you should be able to solve:</p>
              <svg style="width: 300px; height: 300px; border: solid silver 1px">
                <polygon points="  50, 60 
                                  50,200 
                                  200,200" 
                                  stroke="black"
                                  fill-opacity="0" />
                <text x="5" y="130" fill="red">9 cms</text>
                <text x="120" y="220" fill="red">5 cms</text>
                <text x="60" y="100" fill="black">a</text>
                <text x="160" y="190" fill="black">b</text>
                
                <text x="20" y="40" fill="black" font-style="italic">Find the size of angles a) and b)</text>
              </svg>
            </div>
           
              
            <iframe width="560" 
                  height="315" 
                  src="https://www.youtube.com/embed/WqBDpujbtIo" 
                  frameborder="0" 
                  \allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                  allowfullscreen></iframe>

            <iframe width="560" 
                  height="315" 
                  src="https://www.youtube.com/embed/zbB_SddM6Gs" 
                  frameborder="0" 
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                  allowfullscreen></iframe>

            <iframe width="560" 
                  height="315" 
                  src="https://www.youtube.com/embed/a5WQlcFTXyk" 
                  frameborder="0" 
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                  allowfullscreen></iframe>
          
        </section>



 
        <section>
          <a name="testpaper"><H2>Maths Genie: SOHCAHTOA</h2></a>
          <p>Complete the following questions in the back of your maths book.</p>
          <p><a href="https://www.mathsgenie.co.uk/gcse.html">SOHCAHTOA Questions.</a></p>
          <p><a href="https://www.mathsgenie.co.uk/resources/5-SOHCAHTOAans.pdf">Solutions.</a></p>
        </section>


    </div>
</div>







  
{% endblock %}
