.reveal h1 {
  color: black;
  font-family: 'Ropa Sans';
  font-size: 1.5em;
  padding-left: 1em;
  text-align: left;
  background-color: silver;
  background: rgb(0, 250, 154);
}

.reveal p, .reveal li {
  font-size: 0.8em;
  font-family: 'open Sans';
}

html.landing h1 {
  color: black;
  font-family: 'Ropa Sans';
  font-size: 1.5em;
  background: none;
}

.reveal .slides {
  height: 100% !important;
  top: 0 !important;
  margin-top: 0 !important; 
}

.reveal .slides>section {
  min-height: 90% !important;
  top: auto !important;
}

.reveal .slides>section>section {
  min-height: 100% !important;
}