
  html, body {
    scroll-behavior: smooth;
    font-family: 'Open Sans';
  }

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.container {
  max-width : 80%;
  margin: auto;
}

.container h1 {
  color: black;
  font-family: 'Ropa Sans';
  font-size: 4em;
}

h2 {
  font-family: 'Ropa Sans';
  font-size: 2em;
  border-bottom: silver 1px solid;
}





h3 {
  font-family: 'Ropa Sans';
  font-size: 1.5em;
  color: rgb(107, 106, 106); 
  margin-top: 40px;
}

.task {
  background-color: orange;
  padding: 10px;
  border-radius: 5px;
}

my-timeline {
  display : grid;
  grid-template-columns: 1fr;
  counter-reset: timeline;
}
my-timeline-item {
  line-height: 2em;
}

section{

  padding-bottom: 50px;
  border-bottom: 2px solid rgb(50, 100, 50);
  margin-bottom: 50px;

}

my-timeline-item::before {
  counter-increment: timeline;
  color: black;
  content: counter(timeline);
  display: inline;
  background-color: green;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50%

}













