{% extends "layout-topic.html" %}
{% block title%}Angles{% endblock %}


{% block back_to %}
<li><a href="/maths/geometry">Back to: Geometry</a></li>
{% endblock %}

{% block inpage_links %}
<p><a href="#trig">Trig Ratios</a></p>
<p><a href="#test">Test Questions</a></p>
{% endblock %}


{% block main_page %}
<div>
    <h1>SOHCAHTOA</h1>
    <a name="trig"></a>
  </div>
  
  <section>  
      <iframe width="560" 
            height="315" 
            src="https://www.youtube.com/embed/WqBDpujbtIo" 
            frameborder="0" 
            \allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
  
      <iframe width="560" 
            height="315" 
            src="https://www.youtube.com/embed/zbB_SddM6Gs" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
  
      <iframe width="560" 
            height="315" 
            src="https://www.youtube.com/embed/a5WQlcFTXyk" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
    
  </section>
  
  <section class="task">
      <a name="test"><H2>Maths Genie: SOHCAHTOA</h2></a>
      <p>Complete the following questions in the back of your maths book.</p>
      <p><a href="https://www.mathsgenie.co.uk/gcse.html">SOHCAHTOA Questions.</a></p>
      <p><a href="https://www.mathsgenie.co.uk/resources/5-SOHCAHTOAans.pdf">Solutions.</a></p>
    </section>  

{% endblock %}



