{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title%}Login{% endblock %}

{% block styles%}
{{ super() }}
{% include "style-includes.html" %}
{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1>SOHCAHTOA - Trig Ratios</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <p><a href="#ratios">Trig Ratios</a></p>
        <p><a href="#test">Test Questions</a></p>
      </div>

      <div class="col-md-9 col-sm-12">
          <section>
              <h2>SOHCAHTOA</h2>
              <a name="sums"></a>
              <div style="margin-bottom: 30px;">
                <p>LO:</p>
                <p>After watching these videos, you should be able to solve:</p>
                <svg style="width: 300px; height: 300px; border: solid silver 1px">
                  <polygon points="  50, 60 
                                    50,200 
                                    200,200" 
                                    stroke="black"
                                    fill-opacity="0" />
                  <text x="5" y="130" fill="red">9 cms</text>
                  <text x="120" y="220" fill="red">5 cms</text>
                  <text x="60" y="100" fill="black">a</text>
                  <text x="160" y="190" fill="black">b</text>
                  
                  <text x="20" y="40" fill="black" font-style="italic">Find the size of angles a) and b)</text>
                </svg>
              </div>
             
                
              <iframe width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/WqBDpujbtIo" 
                    frameborder="0" 
                    \allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
  
              <iframe width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/zbB_SddM6Gs" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
  
              <iframe width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/a5WQlcFTXyk" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
            
          </section>
          
          <section class="task">
              <a name="testpaper"><H2>Maths Genie: SOHCAHTOA</h2></a>
              <p>Complete the following questions in the back of your maths book.</p>
              <p><a href="https://www.mathsgenie.co.uk/gcse.html">SOHCAHTOA Questions.</a></p>
              <p><a href="https://www.mathsgenie.co.uk/resources/5-SOHCAHTOAans.pdf">Solutions.</a></p>
            </section>

      </div>
    </div>
  </div>

    
    
{% endblock %}






