{% extends "layout-slide.html" %}

{% block title%}Login{% endblock %}
{% block body %}
    <H1>Login</H1>
    <form method="POST" action="/users/login">
      {{ form.csrf_token }}
      {{ form.username.label }}
      {{ form.username }}
      <ul>
        {% for error in form.username.errors %}
        <li style="color:red">{{error}}</li>
        {% endfor %}
      </ul>
      {{ form.password.label }}
      {{ form.password }}
      <ul>
        {% for error in form.password.errors %}
        <li style="color:red">{{error}}</li>
        {% e
      <input type="submit">
    </form>
    </form>
{% endblock %}