{% extends "layout-slide.html" %}

{% block title%}Login{% endblock %}
{% block body %}
    <H1>Login</H1>
    <form method="POST" action="/users/login">
      {{ form.csrf_token }}

      {{ form.username.label }}
      {{ form.username }}
      <ul>
        {% for error in form.username.errors %}
        <li style="color:red">{{error}}</li>
        {% endfor %}
      </ul>

      {{form.first_name.label}}
      {{form.first_name}}
      <ul>
        {% for error in form.first_name.errors %}
        <li style="color:red">{{error}}</li>
        {% endfor %}
      </ul>

      {{form.family_name.label}}
      {{form.family_name}}
      <ul>
        {% for error in form.family_name.errors %}
        <li style="color:red">{{error}}</li>
        {% endfor %}
      </ul>

      {{form.current_form.label}}
      {{form.current_form}}
      <ul>
        {% for error in form.current_form.errors %}
        <li style="color:red">{{error}}</li>
        {% endfor %}
      </ul>

      {{ form.password.label }}
      {{ form.password }}
      <input type="submit">
    </form>
    </form>
{% endblock %}