{% extends "bootstrap/base.html" %}
{% block title%}Computing{% endblock %}

{% block styles%}
{{ super() }}
{% include "style-includes.html" %}
<link href="/static/styles/module-header.css" rel="stylesheet">
<link href="/static/styles/module-header.css" rel="stylesheet">
  <style>
    .module-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .module {
      margin: 15px;
      padding: 5px;
      border: silver 1px solid;
      min-width: 300px;
      box-shadow: 5px 5px 17px 2px rgba(192,204,200,1);
      
    }

    .module h4 {
      background-color: rgb(177, 247, 237);;
    }

    .resource-grid {
      display: grid;
      grid-template-columns: 3em auto;
    }

    .resource-logo {
      width: 60px;
      height: 60px;
      margin-right: 30px;
    }

    .resources_container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
    }

    .resources {
      margin: 10px;
      border: silver 1px solid;
      padding: 10px;
      border: silver 1px solid;
      min-width: 300px;
      box-shadow: 5px 5px 17px 2px rgba(192,204,200,1);
    
    }

  </style>
{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <H1>Computing Materials</H1>
    <h2>Modules</h2>
    <div class="module-container">

        <div class="module">
            <h4>Modelling</h4>
            <table>
              <tr><td rowspan="4"><img class="resource-logo" src="/static/images/sketchup_logo.png"></td> 
                <td><a href="/computing/models/modelling-with-sketchup">Modelling with SketchUp</a></td>
            </tr>
            </table>
          </div>

      <div class="module">
          <h4>Web</h4>
          <table>
            <tr>
              <td rowspan="4">
                <img style="width:50px;" src="/static/modules/computing/python-intro/www-logo.png">
              </td>
              <td>
                  <a href="/computing/web/internet-www">Internet and the WWW</a>
              </td>
            </tr>
            <tr>
              <td><a href="/computing/web/web-design">Web Design with Figma</a></td>
            </tr>
            <tr>
              <td>
                  <a href="/computing/web/intro-html-css-js">Intro to HTML, CSS and JS</a>
              </td>
            </tr>
            <tr>
              <td>
                  <a href="/computing/web/web-server">Web Servers</a>
              </td>
            </tr>
          </table>
          
        </div>

        <div class="module">
          <h4>Databases</h4>
          <table>
            <tr>
              <td rowspan="2">
                <img style="width:50px;" src="/static/modules/computing/python-intro/my-sql-logo.png">
              </td>
              <td><a href="/computing/databases/module">Intro to DB with MySQL</a></td>
            </tr>
          </table>
          
        </div>

        <div class="module">
            <h4>Learning Python</h4>
          <table>
            <tr><td rowspan="6" style="min-width: 80px;"><img style="width:50px;height:50px;" src="/static/modules/computing/python-intro/python.jpeg"></td></tr>
            <tr><td><a href="https://trinket.io/courses/join/yrDizp">Learn Python with Turtle (KS3)</a></td></tr>
            <tr><td><a href="https://repl.it/classroom/invite/aOfHxrL">Learn Python Loops in repl.it (KS3)</a></td></tr>  
            <tr><td><a href="https://trinket.io/courses/join/npUFa8">Python Data Structures (KS4)</a></td></tr>
            <tr><td><a href="https://repl.it/classroom/invite/Y9j451l">Python Exercises (KS4)</a></td></tr>
            <tr><td><a href="/computing/python/challenges">Exercises and Challenges (KS4) </a></td></tr>
          </table>
            
            
          </div>

        
    </div>

    <h2>Useful Resources</h2>

    <div class="resources_container">
    <div class="resources">
      <h3>P5 Programming</h3>
      <table>
        <tr><td rowspan="4"><img class="resource-logo" src="/static/images/p5-logo.png"></td> <td><a href="https://editor.p5js.org/">p5 Editor</a></td></tr>
        <tr><td><a href="https://p5js.org/reference/">p5 Reference Site</a></td></tr>
        <tr><td><a href="https://www.youtube.com/watch?v=yPWkPOfnGsw&list=PLRqwX-V7Uu6Zy51Q-x9tMWIv9cueOFTFA">p5 Tutorial</a></td></tr>
      </table>
     </div>

    <div class="resources">
      <h3>Modelling</h3>
      <table>
        <tr><td rowspan="4"><img class="resource-logo" src="/static/images/sketchup_logo.png"></td> <td><a href="https://www.sketchup.com/download/make">Download SketchUp Make</a></td></tr>
        <tr><td><a href="https://www.sketchup.com/plans-and-pricing/sketchup-free">Access SketchUp Online</a></td></tr>
        <tr><td><a href="https://www.youtube.com/user/SketchUpEssentials">Advanced SketchUp Tutorials</a></td></tr>
      </table>
    </div>

    

      <div class="resources">
        <h4>iGCSE</h4>
        <a href="/computing/igcse/specs">Module Specs </a>
      </div>

  </div>
  
    
</div>
{% endblock %}