<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css"  >
  
  <script src="/static/jQuery/jquery-3.3.1.slim.min.js" ></script>
  <script src="/static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Reveal Files-->
  <link rel="stylesheet" href="/static/reveal.js/css/reveal.css">
	<link rel="stylesheet" href="/static/reveal.js/css/theme/black.css">
  

  <!-- GSAP files-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.0/TweenMax.min.js"></script>

  <!-- Polymer WebElement Files -->
  <script src="https://unpkg.com/@webcomponents/webcomponentsjs@next/webcomponents-loader.js"></script>


  <link href="{{url_for('static', filename='style.css') }}" rel="stylesheet">
  <title>Software Modelling - mr-salih.com</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <style>
      /*
      .pros-cons {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
*/
      .definition {
        background-color: rgb(173, 130, 11);
        box-shadow: 3px 3px 3px #101010;
        padding: 20px !important;
      }

      .definition-header  {
        color: black !important;
        font-size: 2rem !important;
      }

      .definition-item  {
        color: white !important;
        font-size: 1.75rem !important;
      }

      .definition-source  {
        text-align: right;
      }

      .definition-source  a{
        color: rgb(0, 0, 100) !important;
        font-size: 1.75rem !important;
      }

      /*
      .lo {
        text-align: left; 
        margin-bottom: 20px; 
        padding: 20px !important;
        background-color: #c7c6c6
      }

      .lo-heading {
        color: black !important;
        font-size: 1rem !important; 
      }

      .lo-question {
        color: black !important;
        text-align: center;
      }
      */

      /*
      .timeline {
        display : grid;
        grid-template-columns: 3rem auto;
      }

      .timeline div {
        text-align: left !important;
      }
      */

      .front-page h1 {
        color: green;
      }
      .slide h1 {
        color: red;
        font-family: 'Roboto', Tahoma;
        font-size: 4rem;
        text-align: left;
        border-bottom: silver 1px solid;
      }
    </style>

    <!-- Polymer Web App -->
    <script type="module">
        
        import {LitElement, html} from 'https://unpkg.com/@polymer/lit-element@latest/lit-element.js?module';
        import {LoComponent} from '/static/webcomponents/lo.js'
        import {TimelineComponent, TimelineItemComponent} from '/static/webcomponents/timeline.js'
        import {ProsConsComponent, ProsComponent, ConsComponent, ProComponent, ConComponent} from '/static/webcomponents/pro-con.js'

        customElements.define('my-lo', LoComponent);
        customElements.define('my-timeline', TimelineComponent);
        customElements.define('my-timeline-item', TimelineItemComponent);
        customElements.define('my-pros-cons', ProsConsComponent);
        customElements.define('my-pros', ProsComponent);
        customElements.define('my-cons', ConsComponent);
        customElements.define('my-pro', ProComponent);
        customElements.define('my-con', ConComponent);
        
    </script>
</head>
<body>
    <div class="reveal">
			<div class="slides">

      <!-- Heading Page -->
      <!-- <section data-background-image="/static/modules/backdrop3-sm.jpg"> -->
      <section 
               data-background-image="/static/modules/sketchup/FrontSlideBackdrop.png">
          <div style="display:flex; flex-direction: row">
              <img class="slideImg" 
                    id="logo"
                    style="width: 100px; height: 100px; transform: translateX( -50%) !important; opacity: 0 !important; background: none !important;  margin: 20px"
                    src="/static/modules/sketchup/images/sketchup_logo.png">
              <div style="text-align: left">
                  <h1 id="title" style="transform: translateY(-50%); 
                                        opacity: 0; text-transform: none; 
                                        font-size: 3rem; color: rgb(0, 0, 0);
                                        margin-top: 10px;
                                        margin-bottom: 5px;
                                        ">Software Modelling</h1>
                  <hr>
                  <h2 id="subTitle" style="transform: translateY(50%); 
                                           opacity: 0; text-transform: none; 
                                           font-size: 2rem; color: #686767">Intro to SketchUp</h2>
              </div>
          </div>
      </section>
      <!-- End of Heading Page-->


      <!-- Timeline-->
      <section>
        <section data-state="slide">
          <h1>Timeline</h1>
          <my-timeline>
            <my-timeline-item itemNumber="1" completed="true">What is <b>Computer Modelling</b>?         </my-timeline-item>
            <my-timeline-item itemNumber="2" completed="true">Basic Concepts of SketchUp.         </my-timeline-item>
            <my-timeline-item itemNumber="3" completed="true">How to <b>Measure Accurately</b>.          </my-timeline-item>
            <my-timeline-item itemNumber="4" completed="true">How to Make Compound Shapes.        </my-timeline-item>
            <my-timeline-item itemNumber="5">What are Components?                </my-timeline-item>
            <my-timeline-item itemNumber="6">How to Move and Rotate.</my-timeline-item>
            <my-timeline-item itemNumber="7">How to Build from a Reference Plan. </my-timeline-item>
            <my-timeline-item itemNumber="8">Project - Medieval Castle.          </my-timeline-item>
          </my-timeline>
          
        </section>
      </section>
      <!-- End of Timeline -->


      <!--Software Modelling -->
      <section>
          <section data-state="slide">
              <h1>What is Computer Modelling?</h1>
               <my-lo>What are the What, Where, How and  Pros/Cons of Computer Modelling?</my-lo>
          </section>
          <section>
            <h1>What is Computer Modelling?</h1>
            <div class="definition" >
              <p class="definition-header">Definition:</p>
              <p class="definition-item fragment fade-up">A computer-based model is a computer program that is designed to <u><b>simulate what might or what did</b></u> happen in a situation.</p>
              <p class="definition-item fragment fade-up ">Software Modelling allows us to consider the <b><u>interaction</u></b> of real world objects.</p>
              <p class="definition-source fragment fade-up"><a href="https://simple.wikipedia.org/wiki/Computer_model">Wikipedia, 2018</a></p>
            </div>
          </section>
          <section>
            <h1><b><u>Where and How</u></b> might we use Computer Modelling?</h1>
            <div>2 mins pair and share:</div>
          </section>

          <section>
              <h1>Pros & Cons</h1>
              <div>What may be the pro's and con's of using Computer Modelling.</div>
              <div>2 min pair and share:</div>
          </section>

          <section>
            <h1>Computer Modelling</h1>
            <my-pros-cons>
              <my-pros>
                <my-pro class="fragment fade-up">Can improve the estimate of costs.</pro>
                <my-pro class="fragment fade-up">Can save money by identifying problems early.</pro>
              </my-pros>
              <my-cons>
                <my-con class="fragment fade-up">Increases the cost of the project.</con>
                <my-con class="fragment fade-up">Can create unreasonable expectations.</cons>
                <my-con class="fragment fade-up">How do we know if the model is right?</my-con>
              </my-cons>
            </my-pros-cons> 
            
          </section>
          
          
      </section>
      <!-- End of Software Modelling -->


      <!-- First Concepts -->
      <section>
          <section>
            <h1>Using SketchUp</h1>
            <my-lo>"What is <b>SketchUp</b> and how do we use it?"</my-lo>
          </section>

          <section>
              <h1>Key Features of SketchUp</h1>
              <ul>
                <li><b>1. SketchUp works in 3D.</b> This means that you will need to get good at moving around the 3D scene (pan, rotate and zoom).</li>
                <li><b>2. SketchUp will try to help you.</b> The mouse will "snap" to lines, mid points.</li>
                
              </ul>
          </section>
            <section>
                <div style="display: flex; flex-direction: row;">
                    <img style="width: 100px; height: 100px; padding-right: 20px;border: none!important; box-shadow: none !important" 
                          src="/static/modules/sketchup/images/sketchup_logo.png">
                    <h1 style="text-transform:none">Build a House</h1>
                </div>
                
                <hr>
                <div style="display:flex; flex-direction: row;">
                    
                      <div>
                        
                        <div style="text-align: left">
                          <h3>Task:</h3>
                          <ul>
                              <li>Follow the video (below) to construct your first SketchUp house.</li>
                              <li>Remember: Save your file to the X drive.</li>
                            </ul>
                        </div>
                        
                      </div>
                </div>
            </section>
            <section>
                <video width="100%" controls>
                    <source src="https://www.dropbox.com/s/8bf9mts0bnyxyrn/IntroToSketchUp.mp4?raw=1" type="video/mp4">
                  </video>
            </section>
            <section>
                <h1>Homework</h1>
                <p>
                  Using a search engine, search for images of SkecthUp models that have been created by others.
                </p>
                <p>
                  Create a Word (or similar) document that contains images of 3 SketchUp models that you like or find impressive.  
                </p>  
                <p>
                    Write a short paragraph next to each image to explain why you have chosen each model.
                </p>
              </section>
            <section>
              <h1>Additional Resources</h1>
              <ul>
                <li><a href="https://www.youtube.com/watch?v=9Fbvtc2eLzU&list=PL190C90DCE62242C9">SketchUp Navigation</a></li>
              </ul>
            </section>
      </section>
      <!-- End Section First Concepts-->

      <!-- Measuring with SketchUp-->
      <section>
        <section>
          <h1>Measuring with SketchUp</h1>

          <my-lo>
            <ul>To be able to demonstrate:
              <li>Specifying dimensions</li>
              <li>Using tape measure</li>
              <li>Adding dimension lines</li>
            </ul>
          </my-lo>
        </section>
        

        <section>
          <h1>Specifying Dimensions</h1>
          <ul>
            <li>Click to start the rectangle (do not drag!)</li>
            <li>Type the dimensions (<i>e.g. 2m,1m</i>)</li>
            <li>Press Enter</li>
          </ul>
        </section>

        <section>
          <h1>Using the Tape Measure</h1>
          <div>You can use the tape measure to generate guide lines that help you plan the placement of shapes.</div>
          <ul>
            <li>Click to start tap emeasure </li>
            <li>Move the mouse in the desired direction</li>
            <li>Enter distance (e.g. 0.1m)</li>
            <li>Press enter</li>
          </ul>
        </section>

        <section>
          <div style="display: flex; flex-direction: row;">
              <img style="width: 100px; height: 100px; padding-right: 20px;border: none!important; box-shadow: none !important" 
                    src="/static/modules/sketchup/images/sketchup_logo.png">
              <h1 style="text-transform:none">Build a Table</h1>
          </div>
          
          <hr>
          <div style="display:flex; flex-direction: row;">
              
                <div>
                  
                  <div style="text-align: left">
                    <h3>Task:</h3>
                    <ul>
                        <li>Follow the video (below) to <b>accurately</b> construct a SketchUp table.</li>
                        <li>Remember: Save your file to the X drive.</li>
                      </ul>
                  </div>
                  
                </div>
          </div>
      </section>

      

      <section>
        <h1>Make a Table</h1>
        <video width="100%" controls>
            <source src="https://www.dropbox.com/s/nsdfcxpbdgmyxji/Measuring.mp4?raw=1" type="video/mp4">
          </video>
      </section>

      </section>

      <!-- End of Measuring with SketchUp -->
      <section>
          <section>
            <h1>Compound Shapes</h1>
            <my-lo>
              <ul>To be able to demonstrate:
                <li>Pencil Lines</li>
                <li>Polygons Shapes</li>  
                <li>Creating merged shapes</li>
                <li>Adding dimension lines</li>
              </ul>
          </my-lo>
          </section> 
          <section>
            <h1>Pencil Lines</h1>
            <p>Pencil Lines allow us to add <b>Vetrices</b> and <b>Edges</b> to existing shapes.</p>
            <p>Pencil Lines also allow us to create new <b>faces</b>.</p>
            <video width="50%" controls>
              <source src="https://www.dropbox.com/s/6tlgr46939xhov3/PencilLines.mp4?raw=1" type="video/mp4">
            </video>
          </section>
          <section>
            <h1>Polygons</h1>
            <p>Polygons allow us to create <b>regular polygons</b>.</p>
            <p>You can specify the number of sides before selecting the center point.</p>
            <video width="50%" controls>
              <source src="https://www.dropbox.com/s/i4keyxzy5l2bsq0/Polygons.mp4?raw=1" type="video/mp4">
            </video>
          </section>
          <section>
            <h1>Merging Shapes</h1>
   
            <p>Drawing shapes over existing shapes will merge the verticies to form a new shape.  This new set of verticies can either be treated seperately, or can be merged in to a single new shape using the eraser tool.</p>
            <video width="50%" controls>
              <source src="https://www.dropbox.com/s/dv9tnzwvzyotn09/Compound.mp4?raw=1" type="video/mp4">
            </video>
          </section>
        </section>
        <!-- End of Compound Shapes-->
        
        <!-- Making Components -->
        <section>
          <section>
            <h1>What are Components?</h1>
            <my-lo>
              <div>To be able to:</div>
              <ul>
                <li>Crate a simple component.</li>
                <li>Edit a component.</li>
              </ul>
            </my-lo>
          </section>

          <section>
            <h1>What are Components?</h1>
            <ul>
              <li>Components are a way to create <b>reusable</b> objects.</li>
              <li>Components can be shared between files and people.</li>
              <li>Components allow us to produce repeated shapes, very quickly.</li>
            </ul>
          </section>

          <section>
            <h1>Making Components</h1>
   
            <p>Learn to create a component.</p>
            <video width="50%" controls>
              <source src="https://www.dropbox.com/s/mjba71ksyr6vkhb/Components.mp4?raw=1" type="video/mp4">
            </video>
          </section>
        </section>
        <!-- End of Making Components-->
        
        <!-- Moving and Rotation-->
        <section>
          <section>
            <h1>Moving and Rotation</h1>
            <my-lo>
              <div>To be able to:</div>
              <ul>
                <li>Accurately move and align shapes.</li>
                <li>Rotate shapes.</li>
              </ul>
            </my-lo>
          </section>
          <section>
            <h1>Moving an object</h1>
            <video width="50%" controls>
              <source src="https://www.dropbox.com/s/fosi5ofh1eilblv/Moving.mp4?raw=1" type="video/mp4">
            </video>
          </section>
        </section>
        <!-- End of Moving and Rotations-->

      <!-- Useful Resources -->
      <section>
        <section>
          <h1>Useful Resources</h1>
          
          <ul>
            <li><a href="https://help.sketchup.com/en/downloading-older-versions">Download SketchUp at Home (optional).</a></li>
            <ul>
                <li>Select Version 2017 Make</li>
                <li>Ensure that you chose the correct version.</li>
            </ul>

            <li><a href="https://www.youtube.com/playlist?list=PLMK2xMz5H5ZvY28MrKdFPmNJbODwLgSqj">You Tube Tutorials from JD Williams.</a></li>
            <li><a href="https://www.youtube.com/watch?v=EdsFkiPw4nA&list=PL190C90DCE62242C9&index=10">You Tube Tutorials from SketchUp</a></li>
            <li><a href="https://www.youtube.com/watch?v=cfoQf_8YYxg">Reference Video.</a>
            </li>
          </ul>
        </section>
      </section>
      <!-- End of Useful Resources -->

      
      <!-- Marking Scheme Page -->
      <section>
          <section>
            <h1>End of Module Project: Build a Castle</h1>
            <p>Select a castle floor plan.  Either find your own, or chose one from <a href="https://www.google.com/search?rlz=1C5CHFA_enSA774SA774&q=castle+floor+plans&tbm=isch&source=univ&safe=strict&sa=X&ved=2ahUKEwjZir2TztngAhUPTBUIHUb9AYIQsAR6BAgDEAE&biw=936&bih=786#imgrc=GH0POwwVZVB_AM:"> here</a></p>
            <p>Create a 3D model of the castle.</p>
            <p>Ensure that you have </p>
          </section>
          <section>
              <div>
                <h2>2018 Castle Designs</h2>
                <p>To help inspire you, here are some examples of 2018 Year 7 castle design.</p>
                <video width="600" height="450" controls>
                  <source src="https://www.dropbox.com/s/p9u9vjudwejfl9p/CastlesYear7-2018.mp4?raw=1" type="video/mp4">
                </video>
              </div>
            </section>
          <section>
            <h1>Marking Scheme</h1>
            <div>
                <p>The marking scheme for this module can be found here.</p>
                <div style="width: 100%; text-align: right; font-size: 2rem; display: flex; flex-direction: row">
                    <img src="/static/modules/PDF_file_icon.svg" style="border: none !important; margin: 0px 0px 0px 0px !important; margin-right: 10px; width:40px; height: 40px; box-shadow: none!important"> 
                    <a style="margin-left: 10px !important;" href="http://127.0.0.1:5000/static/modules/sketchup/module-description.pdf#page=2">Link to Module Description</a>
                </div>
                
            </div>
        </section>

      </section>
      <!-- End of Marking Scheme-->

      <section>
        <section>
          <h1>SketchUp Challenges</h1>
        </section>
        <section>
          <h1>SketchUp Blocks</h1>
          <p>The following link contains a number of isometric shapes.  Each isometric triangle represents 10cms. Create all shapes in SketchUp for a merit.</p>
          <a href="https://www.dropbox.com/s/pm70a1e5kaf9e5y/SketchUp.pdf?dl=0">PDF File</a>
        </section>
        <section>
            <h1>Swimming Pool</h1>
            <p>Watch the following video to learn how to create a swimming pool.  Use these techniques to design your own swimming pool.</p>
            <video width="600" height="450" controls>
                <source src="https://www.dropbox.com/s/mja2bhj5ojl2dw8/SwimingPool.mp4?raw=1" type="video/mp4">
              </video>
          </section>
      </section>
      

			</div>
		</div>

    <script src="/static/reveal.js/lib/js/head.min.js"></script>
    <script src="/static/reveal.js/js/reveal.js"></script>
		<script>
      function onStart() {
        console.log('Animation Starting');
      }

      function onComplete() {
        console.log('Animation Complete');
      }
			Reveal.initialize({
        center: false, 
        history: true,
        slideNumber: true
      });

      Reveal.addEventListener( 'ready', function( event ) {
          // event.currentSlide, event.indexh, event.indexv
          console.log(event);
          var logo = document.getElementById("logo");
          TweenLite.to(logo, 1, {
              opacity: 1,
       //       backgroundColor:'white', 
              xPercent:  50, 
              onStart: onStart,
              onComplete: onComplete});
         

            TweenLite.to(document.getElementById("title"), 1, {
              opacity: 1,
       //       backgroundColor:'white', 
              yPercent:  50, 
              onStart: onStart,
              onComplete: onComplete});

            TweenLite.to(document.getElementById("subTitle"), 1, {
              opacity: 1,
       //       backgroundColor:'white', 
              yPercent:  -70, 
              onStart: onStart,
              onComplete: onComplete});
        } );
		</script>
</body>
</html>